.promo {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
  padding: 70px 70px 78px 70px;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  max-width: 640px;
  width: 100%;
  margin: 0;
}

.promo__subtitle {
  padding: 36px 0 146px;
  font-size: 13px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
  max-width: 310px;
  width: 100%;
}

.promo__button {
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  align-items: center;
  border: 1px solid rgb(255, 255, 255, .6);
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  width: 129px;
  height: 36px;
  transition: .3s;
}

.promo__button:hover {
  transition: .3s;
  cursor: pointer;
  opacity: .7;
}

.promo__hero {
  object-fit: cover;
  width: 310px;
  height: 304px;
}