.hamburger__menu {
  display: none;
  transition: .3s;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: visibility .2s linear .2s, opacity .2s linear;
  z-index: 2;
  background-color: #202020;
  width: 520px;
  justify-content: center;
  height: 100vh;
}

.hamburger__menu_active {
  display: flex;
}

.hamburger__button {
  background-image: url(../../images/hamburger-menu.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 44px;
  width: 100%;
  height: 44px;
  border: none;
  display: none;
}

@media screen and (max-width: 940px) {
  .hamburger__button {
    display: block;
  }
}

.hamburger__button:hover {
  transition: .3s;
  opacity: 0.8;
}

.hamburger__button_hidden {
  display: none;
}

.hamburger__nav {
  padding-top: 159px;
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.hamburger__close-button {
  background-image: url(../../images/close.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 22px;
  width: 100%;
  height: 22px;
  border: none;
  position: absolute;
  right: 23px;
  top: 23px;
}

.hamburger__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.hamburger__link_active {
  text-decoration: underline;
}