body {
  background-color: #202020;
  margin: auto;
}

.App {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  color: #FFFFFF;
  width: 100%;
}

.button {
  transition: .3s;
}

.button:hover {
  transition: .3s;
  cursor: pointer;
  opacity: .8;
}

.link {
  transition: .3s;
}

.link:hover {
  transition: .3s;
  cursor: pointer;
  opacity: .7;
}