.project {
  background-color: #202020;
  padding: 110px 70px;
}

@media screen and (max-width: 960px) {
  .project {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 540px) {
  .project {
    padding: 70px 18px;
  }
}

.project__title {
  margin: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.04em;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 540px) {
  .project__title {
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #dadada;
  }
}

.project__wrapper {
  padding-top: 66px;
  display: flex;
  gap: 57px;
}

@media screen and (max-width: 940px) {
  .project__wrapper {
    padding-top: 67px;
    gap: 41px;
  }
}

@media screen and (max-width: 540px) {
  .project__wrapper {
    padding-top: 60px;
    flex-direction: column;
    gap: 62px;
  }
}

.project__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 540px) {
  .project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

.project__text {
  margin: 0;
  padding-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
}

@media screen and (max-width: 940px) {
  .project__text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 540px) {
  .project__text {
    padding-top: 25px;
    font-size: 11px;
    line-height: 16px;
  }
}

.project__progress-bar {
  padding-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  .project__progress-bar {
    padding-top: 96px;
  }
}

@media screen and (max-width: 540px) {
  .project__progress-bar {
    padding-top: 60px;
    font-size: 11px;
    line-height: 13px;
    grid-template-columns: 3fr 5fr;
  }
}

.project__frontend {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #3DDC84;
}

.project__backend {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #303030;
}

.project__caption {
  margin: 0;
  padding-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */
  text-align: center;
  color: #8B8B8B;
}

@media screen and (max-width: 540px) {
  .project__caption {
    font-size: 11px;
    line-height: 13px;
  }
}